.second-section {
	& > h2 {
		font-weight: 500;
		font-size: 40px;
		background: #ff9600;
		padding: 0 7px;
		margin: 0;
		border-radius: 7px;
		line-height: 1.275;
		font-weight: 500;
		margin-bottom: 24px;
		width: fit-content;
	}

	& > p {
		font-size: 18px;
		margin-bottom: 48px;
		line-height: 1.27;
	}

	& > .slider {
		background: #191a23;
		padding: 48px 0 94px;
		border-radius: 45px;
		margin-bottom: 217px;

		.slick-slide {
			padding: 12px;
			background-color: white;
			margin: 0 24px;
			text-align: center;
			border-radius: 12px;

			& > img {
				display: block;
				width: 100%;
				margin-bottom: 12px;
				border-radius: 12px;
			}

			& > p {
				margin-bottom: 24px;
				font-size: 18px;
				line-height: 1.5;
			}

			& > button {
				background: #00d9a6;
				font-size: 24px;
				line-height: 1.5;
				border: none;
				border-radius: 12px;
				padding: 12px 0;
				width: 100%;
				font-weight: 500;
			}
		}
	}
}

.slick-prev,
.slick-next {
	box-shadow: 0px 1px 10px 0px #0000001a;
	background-color: white;
	height: 88px;
	width: 88px;
	border-radius: 45px;
	z-index: 1;
	&:hover,
	&:focus {
		background: #ff9600;

		&::before {
			color: #000;
		}
	}
	&::before {
		content: "\261C";
		font-size: 40px;
		color: #ff9600;
		line-height: 0.5;
	}
}

.slick-prev {
	left: -44px;
	&::before {
		content: "\276E";
	}
}
.slick-next {
	right: -44px;
	&::before {
		content: "\276F";
	}
}

.slick-dots {
	bottom: 52px;
	& > li {
		margin: 0 12px;
		width: 14px;
		height: 14px;
		button {
			background-color: white;
			clip-path: polygon(
				50% 15%,
				100% 0,
				85% 50%,
				100% 100%,
				50% 85%,
				0 100%,
				15% 50%,
				0 0
			);
			width: inherit;
			height: inherit;
			&::before {
				width: inherit;
				height: inherit;
				content: "";
			}
		}
		&.slick-active button:before {
			background-color: #ff9600;
		}
	}
}
