.second-section {
	& > h2 {
		font-weight: 500;
		font-size: 40px;
		background: #ff9600;
		padding: 0 7px;
		margin: 0;
		border-radius: 7px;
		line-height: 1.275;
		font-weight: 500;
		margin-bottom: 24px;
		width: fit-content;
	}

	& > p {
		font-size: 18px;
		margin-bottom: 48px;
		line-height: 1.27;
	}

	& > div {
		background: #191a23;
		padding: 48px 0;
		border-radius: 45px;
		margin-bottom: 217px;
	}
}

.slider {
	position: relative;
	overflow: hidden;
	border: 2px solid #ddd;
	border-radius: 10px;
}

.slides {
	display: flex;
	transition: transform 0.5s ease-in-out;
}

.slide {
	min-width: 33.33%;
	box-sizing: border-box;
	text-align: center;
	background: #f2f2f2;
	padding: 12px;
	font-size: 24px;
	border-radius: 12px;

	& > img {
		margin-bottom: 12px;
		display: block;
		max-width: 100%;
		border-radius: 12px;
	}

	& > p {
		margin-bottom: 24px;
		font-size: 18px;
		line-height: 1.5;
	}

	& > button {
		background: #00d9a6;
		font-size: 24px;
		line-height: 1.5;
		border: none;
		border-radius: 12px;
		padding: 12px 0;
		width: 100%;
	}
}

.prev,
.next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
	border-radius: 50%;
	font-size: 18px;
}

.prev {
	left: 10px;
}

.next {
	right: 10px;
}

.indicators {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.indicator {
	width: 10px;
	height: 10px;
	background-color: #bbb;
	border-radius: 50%;
	margin: 0 5px;
	cursor: pointer;
}

.indicator.active {
	background-color: #717171;
}
